.cases__items {
    font-family: Inter-Medium;
    margin-bottom: 130px;
}

.cases__card {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 106px;
    border-bottom: 2px solid #000;
}

.cases__card:not(:last-child) {
    margin-bottom: 114px;
}

.cases__content{
    display: flex;
    flex-direction: column;
    max-width: 479px;
}

.cases__number {
    display: flex;
    font-size: 18px;
    margin-bottom: 25px;
}

.cases__description {
    display: flex;
    margin-bottom: 17px;
}

.cases__subtext__2 {
    font-size: 18px;
    margin-bottom: 134px;
}

.cases__subtext {
    font-size: 14px;
    color: var(--main-grey);
    margin-bottom: 134px;
}

.cases__link {
    font-size: 18px;
    border-bottom: 1px solid;
    width: max-content;
    transition: background-color .4s, color .4s;
}

.cases__link__3 {
    font-size: 18px;
    border-bottom: 1px solid;
    width: max-content;
    color: var(--main-grey);
    transition: background-color .4s, color .4s;
}

.cases__link:hover {
    color: var(--main-grey);
    transition: color 0.3s ease;
}

.cases__link:focus {
    background-color: var(--secondory);
    color: var(--main-white);

}

.cases__link__3:hover {
    color: var(--secondory);
    transition: color 0.3s ease;
}

.cases__link__3:focus {
    background-color: var(--secondory);
    color: var(--main-white);

}