.skills {
    font-family: Inter-Regular;
    font-size: 18px;
    margin-bottom: 134px;
}

.skills__items {
    max-width: 625px;
    font-size: 18px;
}

.skills__item {
    display: flex;
    gap: 63px;
}

.skills__item:not(:last-child) {
    margin-bottom: 70px;
}

.skills__left {
    max-width: 125px;
    width: 100%;
}

.skills__subtitle {
    border-bottom: 1px solid;
    width: max-content;
}

.skills__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 435px;
    justify-items: center;
    font-size: 18px;
}

@media (max-width: 610px) {
    .skills__item {
        flex-direction: column;
        gap: 30px;
    }

    .skills__text {
        gap: 18px;
        flex-direction: column;
        font-size: 16px;
    }

    .skills {
        margin-bottom: 70px;
    }
}