.footer {
    margin-bottom: 35px;
    font-family: DMSans-Medium;
    font-size: 21px;
    margin-top: 174px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-size: 21px;
    color: var(--secondory);
}

.footer__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__link{
    transition: background-color .4s, color .4s;
}

.footer__link:focus{
    background-color: var(--secondory);
    color: var(--main-white);
}

.footer__link:hover{
    color: var(--main-grey);
    transition: color 0.3s ease;
}

@media (max-width: 940px) {
    .footer {
        margin-top: 60px;
    }
}

@media (max-width: 610px) {
    .footer {
        margin-top: 80px;
    }

    .footer__inner {
        flex-direction: column;
        gap: 40px;
    }

    .footer {
        font-size: 16px;
        margin-top: 120px;
    }

    .footer__text {
        font-size: 18px;
    }

    .footer__list {
        gap: 24px;
    }
}

@media (max-width: 610px) {
    .footer {
        margin-top: 80px;
    }

    .footer__inner {
        flex-direction: column;
        gap: 30px;
    }

    .footer {
        font-size: 16px;
        margin-top: 30px;   
    }
}