.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 113px;
    align-items: flex-end;
}

.head__line {
    font-family: DMSans-Medium;
    font-size: 60px;
    max-width: 360px;
    line-height: 0.97;
    width: 100%;
    letter-spacing: -1.2px;
}

.head__text {
    font-family: DMSans-Regular;
    font-size: 32px;
    color: var(--main-grey);
    margin-bottom: -30px;
    max-width: 600px;
}

.head__img {
    transform: rotate(90deg);
    margin-bottom: 113px;
    width: 34px;
    height: 38px;
}

@media (max-width: 1000px) {
    .head {
        margin-bottom: 40px;
        gap: 50px;
    }
}

@media (max-width: 920px) {
    .head {
        margin-bottom: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    
    .head__line {
        font-size: 45px;
        max-width: 300px;
    }

    .head__text {
        font-size: 22px;
        max-width: 550px;
        margin-bottom: 0px;
    }

    .head__img {
        width: 24px;
        height: 28px;
        margin: 0 auto 20px;
    }
}